.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-box {
  background: white;
  padding: 25px;
  border-radius: 14px;
  width: 90%;
  max-width: 320px;
  text-align: center;
}

.modal-box h3 {
  margin-bottom: 10px;
}

.modal-box p {
  font-size: 14px;
  color: #555;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.no-btn {
  background: #ccc;
  padding: 10px;
  width: 45%;
  border-radius: 8px;
}

.yes-btn {
  background: #e74c3c;
  color: white;
  padding: 10px;
  width: 45%;
  border-radius: 8px;
}