/*.profile-root {
  padding: 16px;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-header span {
  cursor: pointer;
  font-size: 20px;
}

.profile-user {
  text-align: center;
  margin: 20px 0;
}

.profile-user img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.profile-user button {
  margin-top: 10px;
  padding: 10px 16px;
  border-radius: 10px;
  border: none;
  background: #2563eb;
  color: white;
  cursor: pointer;
}

.profile-menu p {
  padding: 14px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.profile-menu p:hover {
  background: #eef2ff;
}

.logout {
  color: red;
  font-weight: 600;
}*/