.auth-container {
  min-height: 100vh;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  
  padding: 30px;
  width: 90%;
  max-width: 380px;
  border-radius: 18px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
  
}

.auth-card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #2c5364;
  
}

.auth-card button {
  width: 100%;
  padding: 12px;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 10px;
  background-color: #2c5364;
}

.auth-links {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.auth-links span {
  color: #fcfdfe;
  font-weight: 600;
  cursor: pointer;
}